<link rel="stylesheet" href="./ventas-comprobante.component.css" />

<div id="app2" class="boleto">
  <div class="boleto2">
    <img src="./assets/imagenes/logoLastmen.png" alt="logoLastmen" width="150px" />
  </div>
  <div class="header">
    <p> <strong>Productos Naturales LASTMEN</strong></p>
    <p>Av. Tito Jaime Fernande3z 258 - Junín - Tingo Maria</p>
    <p>R.U.C. N° 10443352487</p>
    <h6>BOLETA DE VENTA ELECTRONICA</h6>
    <h6>NRO OPERACION: 00{{venta.idVenta}}</h6>
    <p>{{ venta.fecha }}</p>
    <!-- <div id="cajero">
      <p>Cajero:</p>
      <p>{{ usuario.nombres }} {{ usuario.apellidos }}</p>
    </div> -->
    
  </div>
  <hr />
  <div class="cliente">
    <h6>Cliente: {{ cliente.nombres }} {{cliente.apellidos}}</h6>
    <h6>DNI: {{ cliente.dni }}</h6>
    <h6>Atendido por: {{ usuario.nombres }} {{usuario.apellidos}}</h6>
  </div>
  <hr />

  <div class="producto">
    <table>
      <thead>
        <tr>
          <th>Nombre</th>
          <th>Cant.</th>
          <th>P.Unit</th>
          <!-- <th>Descuento</th> -->
          <th>Importe</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let d of venta.detalleVentas">
          <td>{{ d.nombre_producto }}</td>
          <td>{{ d.cantidad }}</td>
          <td>S/.{{ d.precio_unitario }}</td>
          <td>S/.{{ d.cantidad * d.precio_unitario - d.descuento }}</td>
          <!-- <th style="padding-left:28%;">S/.{{total}}</th> -->
        </tr>
      </tbody>
    </table>

    <!-- <hr /> -->
  </div>
  <!-- <p>DESCUENTO: {{ detalleVenta.descuento }}</p> -->
  <hr />
  <div id="total">
    <p id="totaltext">TOTAL</p>
    <p> S/ </p>
    <p>{{ total }}</p>
  </div>
  <hr />
</div>

<div style="text-align: center; padding-top: 1rem">
  <script></script>
  <a
    (click)="PrintElem()"
    class="btn btn-success text-center"
    id="btn_facturar_venta"
    ><i class="fas fa-print"></i> Imprimir</a
  >
</div>
