<link rel="stylesheet" href="./ventas-comprobante.component.css">



<div id="app2" class="boleto">

  <div class="boleto2">

    <img  src="./assets/imagenes/logoLastmen.png" alt="" width="100px" >

  </div>
  <div class="header"> 
   
    <p>Productos Naturales LASTMEN</p>
    <p> Av. Tito Jaime Fernande3z 258 - Junín - Tingo Maria</p>
    <p> R.U.C. N° 10443352487 </p>
    <h6 >BOLETA DE VENTA ELECTRONICA</h6>
    <h6 >NRO OPERACION: 102</h6>
    <p>{{venta.fecha}}</p>
    <h6>Cajero:{{usuario.nombres}} {{usuario.apellidos}}</h6>
  </div>
    <hr />
    <div class="cliente">
    <h6>Cliente: {{cliente.nombres}}</h6>
    <h6>DNI: {{cliente.dni}}</h6> 
    <h6>Dirección: {{cliente.direccion}}</h6>    
  </div>
<hr  />

<div class="producto">
  <table>
    <thead>
      <tr>
        <th style="padding-left:3%;">Cant.</th>
        <th style="padding-left:11%; ">Descripción</th> 
        <th style="padding-left:30%;">P.Unit</th>
        <!-- <th>Descuento</th> -->
        <th style="padding-left:40%;">Total</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let d of venta.detalleVentas">
        <td style="padding-left:3%;">{{d.cantidad}}</td>
        <td style="padding-left:10%;">{{d.nombre_producto}}</td>
        <td style="padding-left:35%;">{{d.precio_unitario}}</td>
        <td style="padding-left:40%;">S/.{{(d.cantidad * d.precio_unitario) - d.descuento}}</td>
        <!-- <th style="padding-left:28%;">S/.{{total}}</th> -->
      </tr>
    </tbody>
    <tfoot>
      
    </tfoot>
  </table>
  <hr/>
  <p>DESCUENTO: {{detalleVenta.descuento}}</p>
  <hr/>
  <p>SUB TOTAL. S/{{total}}</p>
  <p>I.G.V. S/ 3.1416</p>
  <p>TOTAL S/ </p>
</div>
<hr/>
</div>

<div style="text-align: center;">
   <script>
   

   </script>                  
<a (click)="PrintElem()" class="btn btn-success text-center" id="btn_facturar_venta"><i class="fas fa-print"></i>
    Imprimir</a>
</div>