<div class="container-img">
    <img class="logo" src="../../../../assets/imagenes/logoLastmen.png" width="500px" alt="Logo Lastmen">
</div>
<div class="clock-container">
  <div id="clock">
    <h1>{{currentHours < 10 ? "0" + currentHours : currentHours}}<span>:</span></h1>
    <h1>{{currentMinutes < 10 ? "0" + currentMinutes : currentMinutes}}<span>:</span></h1>
    <h1>{{currentSeconds < 10 ? "0" + currentSeconds : currentSeconds}}</h1>
    <h1 style="padding-left: 10px;">{{am_pm}}</h1>
  </div>
</div>




